body
{
  background-image: url(https://img.freepik.com/free-photo/top-view-medical-desk-composition-with-copy-space_23-2148502942.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
}
header
{
      position: relative;
      top:50px;
}
.name
{
  text-align: center;
  font-size: 40px;
  font-family: helvetica ;
}

.fields
{
  font-family: helvetica;
  font-size: 18px;
  text-align: center;
}
.grid-item
{
  display: inline-block;
}
